*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
lib_gpuimage/build/
lib_gpuimage/.idea/
lib_gpuimage/.settings/org.eclipse.jdt.core.prefs
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.jar
lib_gpuimage/.classpath
lib_gpuimage/.project
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/
lib_gpuimage/local.properties
app/proguard-rules.pro
lib_gpuimage/gen/jp/co/cyberagent/android/gpuimage/BuildConfig.java
app/src/test/
